<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>7Icon-App-60x60</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>7Icon-App-60x60</string>
					<string>7Icon-App-40x40</string>
					<string>7Icon-App-29x29</string>
				</array>
			</dict>
			<key>6Icon-App-60x60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>6Icon-App-60x60</string>
					<string>6Icon-App-40x40</string>
					<string>6Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>5Icon-App-60x60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>5Icon-App-60x60</string>
					<string>5Icon-App-40x40</string>
					<string>5Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>4Icon-App-60x60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>4Icon-App-60x60</string>
					<string>4Icon-App-40x40</string>
					<string>4Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>3Icon-App-60x60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>3Icon-App-60x60</string>
					<string>3Icon-App-40x40</string>
					<string>3Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>2Icon-App-60x60</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<false/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>2Icon-App-60x60</string>
					<string>2Icon-App-40x40</string>
					<string>2Icon-App-29x29</string>
				</array>
			</dict>
			<key>1Icon-App-60x60</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>1Icon-App-60x60</string>
					<string>1Icon-App-40x40</string>
					<string>1Icon-App-29x29</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>neteasemail</string>
		<string>BaiduSSO</string>
		<string>baiduyun</string>
		<string>doubanradio</string>
		<string>zhihu</string>
		<string>openapp.jdMobile</string>
		<string>xiami</string>
		<string>googlechrome</string>
		<string>evernote</string>
		<string>youdaonote</string>
		<string>cn.12306</string>
		<string>dingtalk</string>
		<string>alipay</string>
		<string>weixin</string>
		<string>mqq</string>
		<string>weibo</string>
		<string>brave</string>
		<string>firefox</string>
		<string>havecake</string>
		<string>dolphin</string>
		<string>firefox-focus</string>
		<string>googlechrome</string>
		<string>microsoft-edge-http</string>
		<string>opera-http</string>
		<string>puffin</string>
		<string>ucbrowser</string>
		<string>yandexbrowser-open-url</string>
		<string>ddgLaunch</string>
		<string>ddgQuickLink</string>
		<string>alohabrowser</string>
		<string>touch-url</string>
		<string>cakebrowser</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>请允许方法相机，用来拍摄图片并保存</string>
	<key>NSFaceIDUsageDescription</key>
	<string>请允许使用FaceID,用来打开应用。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请允许访问相册，用来选择图片并保持</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许访问相册，用来选择图片并保持</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>bank</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>添加银行卡</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Bank</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>site</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>添加密码</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Site</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>create_password</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>生成密码</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Create</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
